*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# IntellijIdea files
*.iml
.idea
out
/app/app-release.apk
/app/.gitignore
/.gitignore
