<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.eyesless.needmypuppy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".InitiationActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_nmp_launcher_round"
        android:label="Выбери щенка"
        android:roundIcon="@mipmap/ic_nmp_launcher"
        android:supportsRtl="true"
        android:theme="@style/PuppysMainTheme">
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Рады Вас видеть!" />
        <activity android:name=".List_profile" />
    </application>


</manifest>